Source: wasta-msoffice-setup
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-msoffice-setup

Package: wasta-msoffice-setup
Architecture: all
Depends: wasta-wine, wasta-winetricks, zenity, ${misc:Depends}
Description: Setup MS Office via WINE
 Instructions (needed for each user wanting MS Office):
 1. Run 'wasta-msoffice-setup' command
 2. You will be prompted to locate your Setup.exe for MSOffice, and will
    need to enter your MSOffice license key.
 3. Recommendation: only install the MSOffice components you need.
