Source: wasta-msoffice-setup
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-msoffice-setup

Package: wasta-msoffice-setup
Architecture: all
Depends: wine1.8, winetricks, zenity, ${shlibs:Depends}, ${misc:Depends}
Description: Setup MS Office via WINE
 Instructions (needed for each user wanting MS Office):
 1. Run 'wasta-msoffice-setup' command
